html, body {
  margin: 0px;
  padding: 0px;
  //font-size: 0;
}

body{
  background-color: #2b2b2b;
  font-family: 'Nanum Myeongjo', serif;
}

.navigation{
  background-color: #484848;
  color: white;
  height: 50px;

  animation-name: navegacao;
  animation-duration: 2s;
}

.navigation ul{
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  height: 50px;
  text-align: right;
}

.navigation li{
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 50px;
  font-size: 18px;
}

.navigation a{
  color: white;
  text-decoration: none;
}

.navigation a:hover{
  color: #b220ef;
}

.navigation li.threeline-icon{
  display: none;
}

.navigation li.threeline-icon:hover {
  cursor: pointer;
}

.capa {
  color: #2ce8f4;  
}

.capa span{
  color: #b220ef;
}

.capa div {
  display: inline-block;
  height: 95%;
}

.profile-pic{
  background-color: ;
  width: 40%;
  text-align: center;

  animation-name: profile-capa;
  animation-duration: 2s;
}

.profile-pic img{
  width: 400px;
  border-radius: 400px;
  margin-top: 120px;
}

.profile-title {
  background-color: ;
  vertical-align: top;
  width: 59%;

  animation-name: titulo-capa;
  animation-duration: 2s;
}

.profile-title h1{
  font-size: 66px;
  margin-top: 280px;
  text-transform: uppercase;
}

.profile-title h2{
  font-size: 22px;
  margin-left: 100px;
  margin-top: -30px;
}


.main {
  padding: 30px 150px 80px 100px;

  animation-name: conteudo;
  animation-duration: 2s;
}

.sobre-pic{
  float: left;
  width: 400px;
  margin-right:20px;
}

.main h1{
  color: #2ce8f4;
  font-weight: bold;
}

.main h2{
  color: #2ce8f4;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 40px;
}

.main h3{
  color: #b220ef;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}

.main p{
  color: white;
  font-size: 20px;
  line-height: 26px;
  text-align: justify;
}

.caminho {
  list-style: none;
  padding-left: 0;
  color: grey;
}

.caminho li{
  display: inline-block;
}

.caminho a{
  color: grey;
  list-style: none;
}

.social-img{
  width: 128px;
  margin-right: 15px;
}
/* Miniatura */
.miniatura{
  width: 400px;
  height: 400px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.blackbox{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  padding-top: 150px;
  transition: 1s;
}

.blackbox:hover{
    opacity: 0.8;
    transition: 1s;
}

.blackbox-text{
  text-align: center;
}

.blackbox-text h1{
  font-size: 26px;
  text-transform: uppercase;
  margin-top: 0;
}

.blackbox-text h2{
  font-size: 22px;
  text-transform: none;
  margin-top: 0;
  color: white;
}

.back-link{
  color: #2ce8f4;
  text-decoration: none;
}

/* Animações*/
@keyframes profile-capa{
  0% {opacity: 0; transform: translate(0px, 45px)}
  100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes titulo-capa{
  0% {opacity: 0; transform: translate(0px, -45px)}
  100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes conteudo{
  0% {opacity: 0; transform: translate(-30px, 0px)}
  100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes navegacao{
  0% {opacity: 0;}
  50% {opacity: 0}
  100% {opacity: 1;}
}

/* Resposividade com Media Query*/
@media (max-width: 1200px){

/* Tela inicial*/
.navigation li{
  display: none;
}

.navigation li.threeline-icon{
  display: inline-block;
}

.capa div {
  display: block;
  height: auto;
}

.profile-pic{
  width: 100%
  background-color: blue;
}

.profile-pic img{
  margin-top: 150px;
  margin-left: 300px;
  max-width: 100%;
}

.profile-title{
  margin-left: 200px;
  width: 100%
  background-color: purple;
}

.profile-title h1{
  text-align: center;
  margin-top: 50px;
  font-size: 64px;
}

.profile-title h2{
  margin-left: -10px;
  text-align: center;
  font-size: 32px;
  margin-top: 15px;
}

/* Classe Main*/
.main {
  padding: 10px 5% 40px 5%;
}

.main p{
  text-align: left;
  line-height: 30px;
}

.caminho li{
  font-size: 18px;
}

/* Sobre*/
.sobre-pic{
  float: none;
  max-width: 100%;
  margin-right:20px;
}

/* Social media*/
.social-img{
  width: 128px;
  margin-right: 15px;
}

.blackbox{
  opacity: 0.7;
}

/* Menu mobile*/
.menujs {
  height: auto;
}

.menujs ul {
  height: auto;
  text-align: center;
  padding-right: 15%;
  padding-left: 15%;
}

.menujs li{
  display: block;
  border-bottom: solid 2px;
  width: 100%;
  padding: 0;
}

}